[submodule "themes/hugo-future-imperfect"]
	path = themes/hugo-future-imperfect
	url = https://github.com/jpescador/hugo-future-imperfect.git
[submodule "themes/hugo-future-imperfect-slim"]
	path = themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
