/*
  This css file is for individual users to restyle items for their personal site,
  or for the implementation of features specifically for their site. Anything that
  is an official part of the theme (ex. Pull Requests) should be included in main.css
  within the formating given.
*/

.logo-img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

nav.title.logo {
  display: flex;
  justify-content: center;
}

nav.title.logo > a {
  display: block;
  padding: 0 2em;
}

/* 发表曰期 */
.post > header .meta .published {
  /* font-family:  */
}

/* 分钟读完 */
.post > header .meta > :last-child {
  font-family: "Techna Sans Regular", "PingFang SC" !important;
}

p {
  font: 15px/25px 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
}

#intro header p {
  font-family: '思源黑体-细', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
}