/*
  This css file is for individual users to restyle items for their personal site,
  or for the implementation of features specifically for their site. Anything that
  is an official part of the theme (ex. Pull Requests) should be included in main.css
  within the formating given.
*/

.logo-img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

nav.title.logo {
  display: flex;
  justify-content: center;
}

nav.title.logo>a {
  display: block;
  padding: 0 2em;
}

/* 分钟读完 */

.post>header .meta> :last-child {
  font-family: "Techna Sans Regular", "PingFang SC" !important;
}

#intro header p {
  font-family: '思源黑体-细', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
}

form {
  margin: 0 0 2rem 0;
}

@media screen and (max-width: 1152px) {
  #content contact-container> :last-child {
    margin-bottom: 0;
  }
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0.325rem;
  border: solid 2px rgba(144, 144, 144, 0.25);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1rem;
  text-decoration: none;
  width: 100%;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"] {
  height: 3rem;
}

form>.fields {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -2rem 0 2rem -2rem;
  width: calc(100% + 4rem);
}

form>.fields>.field> :last-child {
  margin-bottom: 0;
}

textarea {
  padding: 0.75rem 1rem;
}

form>.fields>.field {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  padding: 2rem 0 0 2rem;
  width: calc(100% - 2rem);
}

form>.fields>.field.half {
  width: calc(50% - 1rem);
}

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
  background-color: transparent;
  border-radius: 0.325rem;
  border: 0;
  box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
  color: #000000 !important;
  cursor: pointer;
  display: inline-block;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.6rem;
  font-weight: 600;
  height: 3rem;
  letter-spacing: 0.175em;
  line-height: 3rem;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.archive>header .meta>a, .post>header .meta>a {
  font-size: 0.6em
}

.about-md blockquote:first-child {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 2.5em 0;
  padding: 0 0 0 50px;
  font-style: italic;
  color: #555555;
  border-left: none;
}

.about-md blockquote:first-child:before {
  content: '“';
  display: block;
  font-family: times, sans-serif;
  font-style: normal;
  font-size: 48px;
  color: #444444;
  font-weight: bold;
  line-height: 30px;
  margin-left: -50px;
  position: absolute;
}

.markdown ol {
  list-style-type: cjk-decimal
}

/* 360 line */

.markdown ol, .markdown ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.markdown ol ol, .markdown ul ol {
  list-style-type: upper-roman;
}

.markdown ol ul, .markdown ul ul {
  list-style-type: circle;
}

.markdown ol ol ol, .markdown ol ul ol, .markdown ul ol ol, .markdown ul ul ol {
  list-style-type: lower-roman;
}

.markdown ol ol ul, .markdown ol ul ul, .markdown ul ol ul, .markdown ul ul ul {
  list-style-type: square;
}

.markdown ol ol ol ol, .markdown ol ol ul ol, .markdown ol ul ol ol, .markdown ol ul ul ol, .markdown ul ol ol ol, .markdown ul ol ul ol, .markdown ul ul ol ol, .markdown ul ul ul ol {
  list-style-type: lower-alpha;
}

/* 523 line */

.markdown ul {
  margin-bottom: 16px;
  margin-top: 0;
}

/* 607 line */

.markdown ol, .markdown ul {
  padding-left: 2em;
}

.markdown ol ol, .markdown ol ul, .markdown ul ol, .markdown ul ul {
  margin-bottom: 0;
  margin-top: 0;
}

.markdown li {
  word-wrap: break-all;
}

.markdown li>p {
  margin-top: 16px;
}

.markdown li+li {
  margin-top: .25em;
}

/* code */
article code {
  background-color: #eee;
  border-radius: 5px;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 80%;
  margin: 0 2px;
  padding: 4px 5px;
  vertical-align: middle;
}

.markdown table {
  border-collapse: collapse;
  border-top: solid 3px #000;
  margin-top: 18px;
  width: 100%;
}
.markdown table th, .markdown table td {
  font-size: 15px;
  line-height: 20px;
  padding: 10px 18px 8px 0;
}
.markdown table thead th, .markdown table thead td {
  font-family: Quattrocento, serif;
  padding-top: 7px;
}
.markdown table tfoot th, .markdown table tfoot td {
  padding-bottom: 8px;
}
.markdown table th:first-child, .markdown table td:first-child {
  padding-left: 0;
}
.markdown table th:last-child, .markdown table td:last-child {
  padding-right: 0;
}
.markdown table tbody tr:nth-child(odd) th,
.markdown table tbody tr:nth-child(odd) td {
  background: rgba(0, 0, 0, 0.035);
}
.markdown table caption {
  color: rgba(0, 0, 0, 0.7);
  top: 5px;
  margin-bottom: 18px;
}