ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin-top: 1em;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}

ul.icons li > * {
    text-decoration: none;
    border: 0;
}

ul.icons li > * .label {
    display: none;
}

.hero-down.container {
    text-align: center;
}

.placeholder img {
    opacity: 0;
}

.placeholder img.loaded{
    opacity: 1;
}

img.small-img{
    filter: blur(10px);
}